@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes keyfig-bouncein {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-8px) scale(1.04);
  }
  80% {
    transform: translateY(4px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.keyfig-animate {
  animation: keyfig-bouncein 0.8s cubic-bezier(.23,1.12,.67,1.01) both;
}
/* animation pour les pages */
@keyframes page-fadein {
  0% {
    opacity: 0;
    transform: scale(1.00);
  }
  60% {
    opacity: 1;
    transform: scale(1.10);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.page-fadein {
  animation: page-fadein 1.1s cubic-bezier(.23,1.12,.67,1.01) both;
}
